.home-background {
  height: 120vh;
  //   width: 100vw;
  opacity: 0.1;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  margin-top: -50px;
  .home-bg-gradient {
    height: 100vh;
    width: 100%;
    z-index: 0;
    opacity: 1;
    background-image: linear-gradient(transparent 60%, #202125 90%);
    position: absolute;
    top: 0;
    left: 0;
  }
}
